:root {
  --white: #fff;
  --accent-color: #4d5ae5;
  --title-main-color: #2e2f42;
  --main-color-text: #434455;
  --cloud: #f4f4fd;
  --active-elements-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--white);
  color: var(--main-color-text);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

/* ===== HEADER LOGO ======== */
.header-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-dark-part {
  color: var(--title-main-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* ===== HEADER LOGO ======== */

/* ==========MOBILE 320 ========= */
@media screen and (max-width: 767px) {
  img {
    max-width: 288px;
  }

  /* =========MENU========== */

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .page-header-container {
    height: 56px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .heder-adress {
    display: none;
  }
  /* =========MENU========== */

  /*===== HERO SECTION n1 ====*/
  .hero-section {
    background-color: var(--title-main-color);
    text-align: center;
    line-height: 1.5;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-hero-section {
    color: var(--white);
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-button {
    font-style: 16px;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 0.04em;
    border: none;
    background: var(--accent-color);
    line-height: 1.5;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
