:root {
  --white: #fff;
  --accent-color: #4d5ae5;
  --title-main-color: #2e2f42;
  --main-color-text: #434455;
  --cloud: #f4f4fd;
  --active-elements-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
}

button {
  cursor: pointer;
}

body {
  background-color: var(--white);
  color: var(--main-color-text);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.page-header-container {
  display: flex;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}

.page-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link {
  color: var(--title-main-color);
  font-weight: 500;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  color: var(--title-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.header-link:hover,
.header-link:focus,
.header-link.current {
  color: var(--active-elements-color);
}

.header-link.current::after {
  content: '';
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-elements-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  /* transition-duration: 3000ms; */
}

.heder-adress {
  font-style: normal;
  margin-left: auto;
}

.heder-adress-link {
  color: var(--main-color-text);
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.heder-adress-link:hover,
.heder-adress-link:focus {
  color: var(--active-elements-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HERO SECTION n1 */

.hero-section {
  background-color: var(--title-main-color);
  text-align: center;
  line-height: 1.5;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* Header 1 */

.title-hero-section {
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  background: var(--accent-color);
  line-height: 1.5;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--active-elements-color);
}

/* END  HERO SECTION n1 */

/*  BENEFITS SECTIONS ADVANTAGES --*/

.title-advantages {
  color: var(--title-main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-advantages {
  /* color: var(--main-color-text); */
  line-height: 1.5;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.logo-benefit-sections {
  display: flex;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: var(--cloud);
  height: 112px;
  margin-bottom: 8px;
}

.title-section {
  color: var(--title-main-color);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}

/*  END BENEFITS SECTIONS ADVANTAGES --*/

/* <!-- Our team --> */

.team-sections {
  background-color: var(--cloud);
}

.title-team-section {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
}

.persons-card {
  background-color: var(--white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
}

.person-job-container {
  padding: 32px 0;
}

.persons-team {
  color: var(--title-main-color);
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.06em;
  margin-bottom: 8px;
}

.job-title {
  /* color: var(--main-color-text); */
  text-align: center;
  line-height: 1.5;
}

.logo-icons-socials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.socials-contacts-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.socials-contacts-container-items {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.logo-icons-socials:focus,
.logo-icons-socials:hover {
  background-color: var(--active-elements-color);
}

.persons-social-icons {
  fill: var(--cloud);
}

.team-list-conatainer {
  padding: 32px 0;
}

/*END <!-- Our team --> */

/* portfolio */
.portfolio-section {
  background-color: var(--white);
}

.title-portfolio-section {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
  transform: translateY(0%);
}

.title-apps {
  color: #434455;
  font-family: Roboto;
  font-size: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.type-apps {
  color: var(--main-color-text);
  /* Body
  line-height: 1.5; /* 150% */
}

.portfolio-list-title-container {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

/* .portfolio-list-title-container:focus,
.portfolio-list-title-container:hover {
  background-color: #31d0aa; */
/* box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
    0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal; */

/* box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08); }*/

.overlay {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* END APPS */

/* FOOTER  */
.footer-page {
  display: flex;
  background: var(--title-main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-section-container {
  display: flex;
  align-items: baseline;
}

.footer-container-logo {
  margin-right: 120px;
}

.footer-logo-white-part {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  color: var(--cloud);
  /* Body */
  line-height: 1.5;
  max-width: 264px;
}

.footer-socals-container {
  margin-right: 80px;
}

.social-media-footer-title {
  color: var(--white);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.socials-contacts-footer-container-items {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: var(--accent-color) */
}

.socials-contacts-footer-list {
  display: flex;
  gap: 16px;
}

.logo-icons-footer-socials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.socials-contacts-footer-container {
  /* display: flex;
  margin-top: 16px; */
}

.logo-icons-footer-socials:focus,
.logo-icons-footer-socials:hover {
  background-color: #31d0aa;
}

.footer-social-icons {
  fill: var(--cloud);
}

.footer-form-title {
  color: var(--white);

  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 16px;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.form-footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  /* display: inline-block; */
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white);
}

.form-footer-input::placeholder {
  color: var(--white);
}

.footer-form-btn {
  display: flex;
  border-radius: 4px;
  background: var(--accent-color);
  padding: 8px 24px 8px 24px;
  color: var(--white);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border: none;
}

.footer-send-icons {
  margin-left: 16px;
}

.socials-contacts-footer-container {
  /* display: flex;
  justify-content: space-between; */
  /* margin-top: 8px; */
}

* {
  /* outline: 1px solid red; */
}

/*===== Modul window with form =====*/

/* =========== BACKDROP ========= */
.backdrop {
  position: fixed;
  left: 0;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  /* ефект невидимості */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ===========END BACKDROP ========= */

/* =========== MODAL WINDOW ========= */
.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: var(--title-main-color);
  fill: var(--title-main-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* margin: auto; */
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--active-elements-color);
}

.close-btn:hover,
.close-btn:focus {
  stroke: var(--white);
  fill: var(--white);
  border: none;
}

.close-btn-icon {
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========== MODAL FORM ========= */

.title-form {
  /* display: block; */
  color: var(--title-main-color);
  text-align: center;
  margin-bottom: 16px;
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}

.form-label {
  display: block;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.forms-input-wrapper {
  margin-bottom: 8px;
}

.form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: transparent;
  outline: transparent;
}

.form-input.text-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;

  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.forms-item {
  position: relative;
}

.forms-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--title-main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.forms-comment-item {
  margin-bottom: 16px;
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.form-input:focus + .forms-input-icon {
  fill: var(--accent-color);
}

/* .form-phone-icon{
  fill: #2E2F42;
}

.form-email-icon {
  fill: #2E2F42;
} */

.review-form-checkbox {
  margin-top: 16px;
  margin-bottom: 24px;
}

.rules {
  color: var(--title-main-color);

  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.48px;
}

.link-privacy {
  color: var(--accent-color);
}

.text-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  /* Small Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.48px;
}

.form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke-width: 1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-icon {
}

.form-checkbox:checked + .rules > .form-own-checkbox {
  background-color: var(--active-elements-color);
  fill: var(--cloud);
  border: none;
}

.form-checkbox:focus + .rules > .form-own-checkbox {
  outline: auto;
}

.privacy {
  color: var(--accent-color);

  /* Link Text */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.submit-btn {
  display: block;
  margin-top: 24px;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  text-align: center;
  /* Button Text */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border: none;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.submit-btn:focus,
.submit-btn:hover {
  background-color: var(--active-elements-color);
}

/*===END===== Modul window with form =====*/
