/* ===== BASE STYLE TEAM FOR MOBILE ==== */
.team-sections {
  background-color: var(--cloud);
}

.title-team-section {
  margin-bottom: 72px;
  text-align: center;
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.persons-card {
  background-color: var(--white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-left: auto;
  margin-right: auto;
}

.person-job-container {
  padding: 32px 0;
}

.persons-team {
  color: var(--title-main-color);
  text-align: center;
  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.job-title {
  color: var(--SLATE, #434455);
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-icons-socials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.socials-contacts-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.socials-contacts-container-items {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.logo-icons-socials:focus,
.logo-icons-socials:hover {
  background-color: var(--active-elements-color);
}

.persons-social-icons {
  fill: var(--cloud);
}

.team-list-conatainer {
  padding: 32px 0;
}

/* =====END BASE STYLE TEAM FOR MOBILE ==== */

/* ===== STYLE TEAM FOR TABLET ==== */

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  /* .persons-card {
    flex-basis: calc((100% - 24px) / 2);
    margin-left: 0;
    margin-right: 0;
  } */

  .title-team-section {
    justify-content: center;
  }
}
/* ===== END STYLE TEAM FOR TABLET ==== */





/* the styles of this sectionare the same for teblet and desktop */
