:root {
  --white: #fff;
  --accent-color: #4d5ae5;
  --title-main-color: #2e2f42;
  --main-color-text: #434455;
  --cloud: #f4f4fd;
  --active-elements-color: #404bbf;
  --light-slate: #8e8f99;
  
}
