@media screen and (max-width: 1439px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
